/* * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

nav {
  /* background-color: #91c07d; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;

  /* justify-content: center; */
}

.pagebtn {
  display: flex;
  text-align: center;
}

nav li {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  list-style: none;
  text-align: center;
}

.icon {
  width: 11rem;

  justify-content: left;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2el2 {
  font-style: italic;
  font-size: 1.25rem;
}

.bodybg {
  /* background-color: #8c6042; */
  background-image: url("./assets/images/H-calum-lewis-vA1L1jRTM70-unsplash.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-color: none;
}

/* #pagename button:active {
  background-color: rgb(221, 221, 212);
  box-shadow: 0 5px #666;
  transform: translateY(10px);
} */
.navbg {
  background-color: #e1d9ca;
  display: flex;
  flex-wrap: wrap;
}
