main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #31343D;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #799FBA;
  --darker: #1F3B60;
  --alpha: rgba(255,255,255,.7);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
 
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: blue;
}
h1{
  font-size: 200px;
}