@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Catamaran:wght@100&family=Orbitron&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap");
/* main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
} */
:root {
  --primary: #8c54ff;
  --secondary: #31343d;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #799fba;
  --darker: #1f3b60;
  --alpha: rgba(255, 255, 255, 0.7);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100rem;

  font-family: "Catamaran";
}
h1 {
  font-size: 200px;
}
.pages {
  text-decoration: underline;
}
#addrecipe {
  padding: 20px;
  background: rgb(221, 221, 212);
  border: solid white 2px;
  border-radius: 5px;
  width: 500px;
}
/* .content{
  margin-top: 10%;
} */
#pagename {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  background-color: white;
  margin-top: -30px;
  border-bottom: solid 5px rgb(221, 221, 212);
  /* position: absolute;
left: 50%;

transform: translate(-50%); */
}
.recipe {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
#addrecipe label {
  text-align: left;
  padding-right: 10px;
}
#addrecipe textarea {
  width: 100%;

  margin-bottom: 20px;
}
#addrecipe input {
  width: 100%;
  margin-bottom: 20px;
}
#addrecipe button {
  background-color: rgba(49, 60, 0, 0.741);
  color: white;
  border: solid 2px rgba(49, 60, 0, 0.741);
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
#addrecipe button:hover {
  background-color: lightgrey;
  color: black;
}
#addrecipe button:active {
  background-color: rgb(221, 221, 212);
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

.mealchoicebuttons {
  display: flex;
  justify-content: center;
}
#directions {
  height: 200px;
}
